build/
bin/
lib/*.so
lib/*.dylib
lib/*.dll
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json
.ninja_deps
.ninja_log
rules.ninja

*~
\#*\#
.#*
auto-save-list/
tramp
/src/elc
*.elc

*.ll
*.bc
*.s
*.o
*.obj
*.a
*.lib
*.out
*.test
*.tmp

.DS_Store
Thumbs.db
vgcore.*
core
